<%= simple_form_for(@quick_poll_response) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :quick_poll_id, :value => @quick_poll.id %>

  <h3>Asq.us Poll: <%= @quick_poll.title %></h3> 

  <%= @quick_poll.body %>

  <p>

  <div class="form-actions">
  <div class="btn-group btn-group-vertical">
    <% @quick_poll.quick_poll_options.each do |option| %>
      <input type=submit class="btn btn-small" value='<%= option.text %>' name = <%= option.value %> style="width: 100px;" >
    <% end %>
 </div>
 </div>

<% end %>
