<div class="container">
<%= simple_form_for(@quick_poll_response, :html=>{:onsubmit=>" return get_fingerprint();" }) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :quick_poll_id, :value => @quick_poll.id %>
  <%= f.hidden_field :browser_fingerprint %>

  <script type="text/javascript">
    function get_fingerprint() {
       var elem = document.getElementById("quick_poll_response_browser_fingerprint");
	    elem.value = new Fingerprint().get();
        return true; // return false to cancel form action
    }
  </script>

  <h4>Asq.us Poll: <%= @quick_poll.title %></h4> 

  <%= image_tag 'asqus-16px-height.png' %> <%= @quick_poll.body %>

  <p>

  <div class="form-actions">
  <!-- div class="btn-group btn-group-vertical" -->
  <div class="span8">
    <% @quick_poll.quick_poll_options.each do |option| %>
      <input type=submit class="btn btn-primary" value='<%= option.text %>' name = <%= option.value %> style="width: <%= @quick_poll_options_width_px %>px; margin-top:2px; margin-bottom:2px;">
      <br />
    <% end %>
  </div> <!-- span8 -->
  <!-- /div -->
 </div>

<% end %>
</div>

