<script type="text/javascript">
$(function () {
//Ensures there will be no 'console is undefined' errors
window.console = window.console || (function(){
    var c = {}; c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile = c.clear = c.exception = c.trace = c.assert = function(){};
    return c;
})();

    function getGraphType(json) {
      var graphType="PIE_CHART";

      poll = json['poll'];
      graphType = poll['graph_type_id'];

      return graphType;
    } // getGraphType

    function getPieGraphData(json) {
      var data = [];
      results = json['results'];

      //sum=0.0
      //for (residx in results) {
      //   res = results[ residx ];
      //  console.log( "res=" + res );
      //   sum=sum + res['value'];
      //}
      //console.log( "sum=" + sum );

      for (residx in results) {
         var res = results[ residx ];
         //percent=Math.round((res['value'] / sum)*100.0*100)/100;
         var percent=parseFloat(res['percentage'])
         console.log( res['name'] + "=" + percent );
         data.push( { name: res['name'], y: percent } );
      }
      return data;
    } // getPieGraphData

    function getBarGraphData(json) {
      var data = [];
      results = json['results'];

      for (residx in results) {
         var res = results[ residx ];
         console.log( res['name'] + "=" + res['value'] );
         data.push( { name: res['name'], data: [ parseFloat(res['value']) ] } );
      }
      return data;
    } // getBarGraphData

    function renderPieChart(graphTitle, json) {
      graphData = getPieGraphData( json ); 

    	// Radialize the colors
		  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		  }); // Highcharts.getOptions
		
		  // Build the chart
      chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: graphTitle
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 2
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            percent=Math.round(this.percentage*100.0)/100;
                            return '<b>'+ this.point.name +'</b>: '+ percent +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Poll Results',
                data: graphData
            }]
        });  // new Highcharts.Chart
    } // renderPieChart

    function renderBarChart(graphTitle, json) {
      graphData = getBarGraphData( json ); 
      //graphData = [
      //                {name: 'Tokyo', data: [14.5]},
      //                {name: 'New York', data: [14.5]},
      //                {name: 'Ann Arbor', data: [14.5]},
      //                {name: 'Detroit', data: [14.5]},
      //                {name: 'Dexter', data: [42.0]}
      //             ];


    	// Radialize the colors
		  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		  }); // Highcharts.getOptions
		
		  // Build the chart
      chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'column'
            },
            title: {
                text: graphTitle
            },
            xAxis: {
               categories: [ 'Results' ]
            },
            yAxis: {
               min: 0,
               title: { text: 'Votes' }
            },
            legend: {
               layout: 'vertical',
               backgroundColor: null,
               align: 'left',
               verticalAlign: 'top',
               x: 100,
               y: 70,
               floating: true,
               shadow: true
           },
            tooltip: {
              formatter: function() {
                           return '' + this.x +': <b>'+this.y+'</b> votes';
                         }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
               }
            },
            series: graphData 
         }); // new Highcharts.Chart
    } // renderBarChart

    var chart;
    var graphData=[];
    $(document).ready(function() {

      var graphTitle = "<%= @quick_poll.title %>";
      var graphType = "PIE_CHART"

     $.get( "/quick_poll_results/<%= @quick_poll.id %>.json", function (json, status) {
          //graphData = getGraphData( json ); 
          graphType = getGraphType( json );

          if ( graphType == "BAR_CHART") {
             renderBarChart( graphTitle, json );
          } else {
             renderPieChart( graphTitle, json );
          }
     } );
    	
    });  // $(document).ready
    
}); // $(function () {

</script>

<h5>Issue: <%= @quick_poll.issue.title %></h5>

<% if @jot %>

Asqed by <%= link_to @jot.official_name_with_abbreviated_title, official_url(@jot.official_id) %>
<p>
<% if @jot.has_photo? %>
	<%= image_tag @jot.photo_path, :length => 125, :width => 100 %>
<% else %>
    <%= @jot.photo_filename %>
<% end %>

<%= @quick_poll.issue.comment %>
<% end %>

<hr/>

<div id="container" style="min-width: 400px; height: 400px; margin:0 auto"></div>
<hr/>
<%= @quick_poll.body %>

<br />
<p>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'asqus'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

