<script type="text/javascript">
$(function () {
    function getGraphData(json) {
      var data = [];
      results = json['results'];

      sum=0.0
      for (residx in results) {
         res = results[ residx ];
         console.log( "res=" + res );
         sum=sum + res['value'];
      }
      console.log( "sum=" + sum );

      for (residx in results) {
         res = results[ residx ];
         percent=Math.round((res['value'] / sum)*100.0*100)/100;
         console.log( res['name'] + "=" + percent );
         data.push( { name: res['name'], y: percent } );
      }
      return data;
    }

    function renderChart(graphTitle, graphData) {
    	// Radialize the colors
		  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		  }); // Highcharts.getOptions
		
		  // Build the chart
      chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: graphTitle
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Poll Results',
                data: graphData
            }]
        });  // new Highcharts.Chart
    } // renderChart

    var chart;
    var graphData=[];
    $(document).ready(function() {

      graphTitle = "<%= @quick_poll.title %>";
      //json = {"poll":{"body":"Should $3.7 gazillion dollars be spent on a bridge to Canada?","created_at":"2013-02-07T03:35:54Z","end_time":"2013-01-01T05:00:00Z","id":1,"issue_id":1,"poll_workflow_state_id":2,"quick_poll_type_id":1,"start_time":"2012-01-01T05:00:00Z","title":"Should the bridge to Canada be built?","updated_at":"2013-02-07T03:35:54Z"},"results":[{"name":"Agree Strongly","value":1,"count":231},{"name":"Agree Somewhat","value":2,"count":342},{"name":"Neutral/Undecided","value":3,"count":453},{"name":"Disagree Somewhat","value":4,"count":676},{"name":"Disagree Strongly","value":5,"count":301}]};
      // graphData         [
      //               {
      //                  name: 'Yes',
      //                  y: 89.7,
      //                  sliced: true,
      //                  selected: true
      //              },
      //              ['No',    10.3]
      //          ];


     $.get( "/quick_poll_results/<%= @quick_poll.id %>.json", function (json, status) {
          graphData = getGraphData( json ); 
          renderChart( graphTitle, graphData );
     } );
    	
    });  // $(document).ready
    
}); // $(function () {

</script>


<h3>Quick Poll Responses</h3>

<hr/>
Todo: summarize this data rather than present it raw, obviously.
<div id="container" style="min-width: 400px; height: 400px; margin:0 auto"></div>
<hr/>

<p>
<b><%= @quick_poll.title %></b>



<p>
<table width=400>
  <tr>
    <th>User</th>
    <th>Response Value</th>
  </tr>

<% @quick_poll_responses.each do |quick_poll_response| %>
  <tr>
    <td><%= quick_poll_response.user_id %></td>
    <td><%= quick_poll_response.value %></td>
  </tr>
<% end %>
</table>

<br />


