
<%# todo: fix up this horribly inefficient code %>

<div class="container">

<table class="recordsTable" width=400>
<tr><th>Office</th><th>Incumbent</th><th></th></tr>

<% if @governor_office %>
<% governor = Office.incumbent_official(@governor_office.id) %>
<tr>
	<td>Governor</td>
	<td><%= link_to governor.name, governor if !@governor.nil? %></td>
	<td>
		<% if !@governor.nil? %>
		  <% if governor.has_photo? %>
		    <%= image_tag governor.photo_path, :height => 125, :width => 100 %>
		  <% else %>
		    No photo.
	      <% end %>
	    <% end %>
	 </td>
</tr>
<% end %>

<% if @us_senators %>
  <% @us_senators.each do |senator| %>
  <tr>
	<td><%= senator.office_type_name %></td>
	<td><%= link_to senator.official_name, official_path(senator.official_id) %></td>
	<td>
	  <% if senator.has_photo? %>
	    <%= image_tag senator.photo_path, :height => 125, :width => 100 %>
	  <% else %>
	    No photo.
      <% end %>
	</td>	
  </tr>
  <% end %>
<% end %>

<% if @us_rep %>
  <tr>
  	<td><%= @us_rep.office_type_name %></td>
	<td><%= link_to @us_rep.official_name, official_path(@us_rep.official_id) %></td>
	<td>
      <% if @us_rep.has_photo? %>
	    <%= image_tag @us_rep.photo_path, :height => 125, :width => 100 %>
	  <% else %>
	    No photo.
	  <% end %>
	</td>	
  </tr>
<% end %>

<% if @state_senators %>
  <% @state_senators.each do |senator| %>
  <tr>
  	<td><%= senator.office_type_name %></td>
	<td><%= link_to senator.official_name, official_path(senator.official_id) %></td>
	<td>
	  <% if senator.photo_path != "" %>
	      <%= image_tag senator.photo_path, :height => 125, :width => 100 %>
	  <% else %>
	      No photo.
	  <% end %>
	</td>	
  </tr>
  <% end %>
<% end %>


<% if @state_reps %>
  <% @state_reps.each do |rep| %>
  <tr>
  	<td><%= rep.office_type_name %></td>
	<td><%= link_to rep.official_name, official_path(rep.official_id)%></td>
	<td>
	  <% if rep.photo_path != "" %>
	    <%= image_tag rep.photo_path, :height => 125, :width => 100 %>
	  <% else %>
	    No photo.
	  <% end %>
	</td>	
  </tr>
  <% end %>
<% end %>


</table>


<h4>Open Polls</h4>

<table width=400>
<% @open_quick_polls.each do |poll| %>
<% path = new_quick_poll_response_path + "?quick_poll_id=" + poll.id.to_s %>
<tr><td><a href=<%=path%> ><%= poll.title %></td></tr>
<% end %>
</table>

<h4>Answered Polls</h4>

<table width=400>
<% @answered_quick_polls.each do |poll| %>
<% path = quick_poll_responses_path + "?quick_poll_id=" + poll.id.to_s %>
<tr><td><a href=<%=path%> ><%= poll.title %></td></tr>
<% end %>
</table>

</div>
