
<% user_office = offices_for_user(current_user.id).first %>
<% if !user_office.nil? %>
<b>Administration: <%= user_office.full_name %></b>
<ul>
<% new_i_path = new_issue_path + "?poller_type=Office&poller_id=" + user_office.id.to_s %>
<li><a href="<%=new_i_path %>">New Issue</a>
<% new_qp_path = new_quick_poll_path + "?poller_type=Office&poller_id=" + user_office.id.to_s %>
<li><a href="<%=new_qp_path %>">New Quick Poll</a>
</ul>

<% end %>


<h4>Your elected officials</h4>

<%# todo: fix up this horribly inefficient code %>

<table width=400>
<tr><th>Office</th><th>Incumbent</th><th></th></tr>

<% if @governor_office %>
<% governor = incumbent_officials(@governor_office.id) %>
<tr>
	<td><%= @governor_office %></td>
	<td><%= link_to governor.name, governor if !@governor.nil? %></td>
	<td>
		<% if !@governor.nil? %>
		  <% if governor.has_photo? %>
		    <%= image_tag governor.photo_path %>
		  <% else %>
		    No photo.
	      <% end %>
	    <% end %>
	 </td>
</tr>
<% end %>
		
<% if @us_senate_offices %>
  <% @us_senate_offices.each do |office| %>
  <% senator = incumbent_officials(office.id).first %>
  <tr>
	<td><%= office %></td>
	<td><%= link_to senator.name, senator if !senator.nil? %></td>
	<td>
	  <% if !senator.nil? %>
	    <% if senator.has_photo? %>
	      <%= image_tag senator.photo_path %>
	    <% else %>
	      No photo.
	    <% end %>
	  <% end %>
	</td>	
  </tr>
  <% end %>
<% end %>

<% if @us_house_offices %>
  <% @us_house_offices.each do |office| %>
  <% congressperson = incumbent_officials(office.id).first %>
  <tr>
  	<td><%= office %></td>
	<td><%= link_to congressperson.name, congressperson if !congressperson.nil? %></td>
	<td>
	  <% if !congressperson.nil? %>
	    <% if congressperson.has_photo? %>
	      <%= image_tag congressperson.photo_path %>
	    <% else %>
	      No photo.
	    <% end %>
	  <% end %>
	</td>	
  </tr>
  <% end %>
<% end %>

</table>

<h4>Open Polls</h4>

<table width=400>
<% @open_quick_polls.each do |poll| %>
<% path = new_quick_poll_response_path + "?quick_poll_id=" + poll.id.to_s %>
<tr><td><a href=<%=path%> ><%= poll.title %></td></tr>
<% end %>
</table>

<h4>Answered Polls</h4>

<table width=400>
<% @answered_quick_polls.each do |poll| %>
<% path = quick_poll_responses_path + "?quick_poll_id=" + poll.id.to_s %>
<tr><td><a href=<%=path%> ><%= poll.title %></td></tr>
<% end %>
</table>
