<p id="notice"><%= notice %></p>
[
<% @states.each do |s| %>
<%= link_to s.abbreviation, admin_state_path( s.id) %>
<% end %>
]
<h3><%= @state.name %></h3>



<p>
<h4>United States Senators</h4>

<table width=400>
  <tr>
    <th>Office</th><th>Incumbent</th>
  </tr>

<% @us_senator_offices.each do |office| %>
  <% incumbent = Office.incumbent_officials(office.id).first %>
  <tr>
    <td><%= office.office_type.name %></td>
    <td><%= if !incumbent.nil?
              link_to incumbent.name, admin_official_path(incumbent, :state_id => @state.id )
            end            
         %>
   </td>
  </tr>
<% end %>
</table>

<h4>United States Representatives</h4>

<table width=400>
  <tr>
    <th>Office</th><th>Incumbent</th>
  </tr>
<% @us_rep_offices.each do |office| %>
  <% incumbent = Office.incumbent_officials(office.id).first %>
  <tr>
	<% if office.district.to_i > 0 %>
	  <td><%= office.office_type.name + ", District " + office.district %></td>
	<% else %> 
	  <td><%= office.office_type.name + " at Large" %><td>
	<% end %>
    <td><%= if incumbent
              link_to incumbent.name, admin_official_path(incumbent, :state_id => @state.id )
            end            
         %>
   </td>
  </tr>
<% end %>
</table>


<h4>State Senators</h4>

<table width=400>
  <tr>
    <th>Office</th><th>Incumbent</th>
  </tr>
<% @state_senator_offices.each do |office| %>
  <% incumbent = Office.incumbent_officials(office.id).first %>
  <tr>
    <td><%= office.office_type.name + ", District " + office.district %></td>
    <td><%= if incumbent
              link_to incumbent.name, admin_official_path(incumbent, :state_id => @state.id )
            end            
         %>
   </td>
  </tr>
<% end %>
</table>


<h4>State Representatives</h4>

<table width=400>
  <tr>
    <th>Office</th><th>Incumbent</th>
  </tr>
<% @state_rep_offices.each do |office| %>
  <% incumbent = Office.incumbent_officials(office.id).first %>
  <tr>
	<td><%= office.office_type.name + ", District " + office.district %></td>
    <td><%= if incumbent
              link_to incumbent.name, admin_official_path(incumbent, :state_id => @state.id )
            end            
         %>
   </td>
  </tr>
<% end %>
</table>






<p>
<ul>
<li><%= link_to "Municipalities", municipalities_path( :state_id => @state.id ) %></li>
<li><%= link_to "Counties", admin_counties_path( :state_id => @state.id ) %></li>
</ul>







<%= link_to 'Back', admin_states_path %>
